* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: bolder;
}

html {
    height: 100%;
    display: flex;
}

body {
    display: flex;
    flex-flow: column;
    text-align: center;
    flex: 1;
}

.btn {
    padding: 1rem;
    font-size: 1rem;
}

#content {
    font-size: 12rem;
    display: flex;
    flex-flow: column;
    flex: 1;
}

#controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 1rem; */
    
}

#reset {
    align-self: center;

}

.player-data {
    /* border: 1px solid green; */
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}

.player-details {
    display: flex;
    flex-flow: column;
    font-size: 1rem;
    gap: .5rem;
    padding: 1rem;
}

.player-details > input[type=text] {
    font-size: 1.5rem;
    text-align: center;
}

.player-type {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.active-player {
    border: 2px solid blue;
    border-radius: 2rem;
    outline: 2px solid lightblue;
    outline-offset: 2px;
    background-color: lightblue;
}

#board-anchor {
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex: 1;
}

.board-row {  
    display: flex;
    justify-content: center;
}

.board-row:first-child > * {
    border-top: unset;
}

.board-row:last-child > * {
    border-bottom: unset;
}

.board-space {
    /* border: 1px solid green; */
    min-width: 15rem;
    min-height: 15rem;
    border: 5px solid black ;
}

.board-space:first-child {
    border-left: unset;
}

.board-space:last-child {
    border-right: unset;
}



footer {
    background-color: gray;
    padding: .25%;
}

a {
    color: white;
    text-decoration: none;
    text-align: center;
}

/* The Modal (background) */
#modal {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
#modal-content {
    background-color: #fefefe;
    font-size: 2rem;
     /* x% from the top and centered */
    padding: 2%;
    border: 1px solid #888;
    display: flex;
    flex-flow: column;
    /* align-items: center; */
    justify-content: center;
}

#modal-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    /* border: 2px solid red; */
    flex: 1;
}

/* The Close Button */
#modal-close {
    /* border: 2px solid red; */
    color: #aaa;
    text-align: right;
}
  
#modal-close:hover,
#modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}